.container{
    width: 400px;
    height: 240px;
    margin: auto;
    font-size: 0px;
}
.container .head{
    width: 100%;
    height: 80px;
    background-color: blue;
}
.container .body{
    width: 100%;
    height: 80px;
}
.container .body .left{
    width: 40%;
    height: 100%;
    text-align: right;
    font-size: 0px;
}
.container .body .grade{
    width: 20%;
    height: 100%;
}
.container .body .right{
    width: 40%;
    height: 100%;
}
.container .foot{
    width: 100%;
    height: 80px;
    background-color: pink;
}
.inline-block{
    display: inline-block;
    vertical-align: bottom!important;
}


.span{
    font-size: 20px;
    line-height: 20px;
}
.pseudo{
    position: relative;
}
.pseudo-child{
    position: absolute;
    background: red;
    width: 12px;
    height: 20px;
    top: 0px;
    left: 0px;
    z-index: -1;
}